//- index.pug
doctype html
html
  head 
    title Quinsteins Dance Academy 
    style
      include ../static/style.css
  body 
    nav#navbar 
        ul
            div#logo
               img(src="/static/img/logo.png")
               | QDA
            li #[a(href="/") Home] 
            li #[a(href="/") About]
            li #[a(href="/") Services ]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]

    section#introSection 
        div Welcome to Quinstein's Dance Academy 
        div.small Eat Sleep Dance Repeat 
    section#missionSection 
        h2 Our Mission
        div.card
            h3 Dance Perfection
            div.card-img
                img(src="/static/img/1.png")
            div.card-content    
                p This is the best dance acedemy in the universe
        div.card
            h3 Dance the way you like 
            div.card-img
                img(src="/static/img/3.png")
            div.card-content    
                p This is the best dance acedemy in the universe
        div.card
            h3 Expert Teaching 
            div.card-img
                img(src="/static/img/2.png")
            div.card-content    
                p This is the best dance acedemy in the universe
    section#sponsorSection 
        h2 Our Sponsors
        div#sponsors
            img(src="/static/img/logo01.png", alt="Sponsor Image", class="spImage")
            img(src="/static/img/logo02.png", alt="Sponsor Image", class="spImage")
            img(src="/static/img/logo03.png", alt="Sponsor Image", class="spImage")
            img(src="/static/img/logo04.png", alt="Sponsor Image", class="spImage")
    footer#footer 
        | Copyright © 2021 Quinstein'sDanceAcademy.com | All rights reserved
    script 
        include ../static/index.js
     
